src/msxconfig.dtd

<!ELEMENT msxconfig (device)+>
<!ELEMENT device (type,slotted?,parameter*,desc?,rem?)>
<!ATTLIST device
                 id CDATA #IMPLIED>
<!ELEMENT type (#PCDATA)>
<!ELEMENT slotted (page,ps,ss)>
<!ELEMENT page (#PCDATA)>
<!ELEMENT ps (#PCDATA)>
<!ELEMENT ss (#PCDATA)>
<!ELEMENT parameter (#PCDATA)>
<!ATTLIST parameter
                    name CDATA #IMPLIED
                    class CDATA #IMPLIED>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT rem (#PCDATA)>
